// Variables

@brand-primary: @black;
@brand-navbar: @orange;
@gray-dark: lighten(#3b5372, 25%);
@gray: lighten(#3b5372, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;
@black: black;
@orange: #ed4c15;
