// Mixins

.transition-all() {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.serif() {
    font-family: 'Raleway',  sans-serif;
    font-display: auto;
}

.sans-serif () {
    font-family: 'Raleway',  sans-serif;
    font-display: auto;
}