// Variables

@brand-primary: @white;
@brand-navbar: @black;
@gray-dark: rgba(0,0,0,.6);
@gray: #798088;
@white-faded: fade(white, 80%);
@white: white;
@gray-light: rgb(179, 179, 179);
@black: black;
@orange: #ed4c15;
@steelblue: #2B3856;
@bluegray: #677492;
@red: red;
