<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
     </staticContent>
         <rewrite>
            <rules>
                <rule name="Reverse Proxy to payroll" stopProcessing="true">
                    <match url="^shop/(.*)" />
                    <action type="Rewrite" url="https://google.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 