<div class="card-list">
    <p class="section-heading">Posts for {{include.category}}</p>
    <div class="row">
        {% for post in site.categories[include.category] %}
        {% if post.featured %}
        {% capture category_name %}{{ category | first }}{% endcapture %}

        <!-- <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img class="img-fluid" src="/{% if post.header-img-list %}{{ post.header-img-list }}{% else %}{{ site.header-img-list }}{% endif %}">
            </div>
            <div class="col">
                <div class="card-block">
                    <h4 class="card-title"><a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h4>
                    <p class="card-subtitle">{{ post.excerpt}}</p>
                    <p class="card-text"><small class="text-muted">Posted by {% if post.author %}{{ post.author }}{% else %}{{site.title}}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</small></p>
                </div>
            </div>
        </div>
    </div> -->
        <!-- <ul class="list-unstyled">
        <li class="media pb-md-5">
            <img class="media-image img-fluid" src="/{% if post.header-img-list %}{{ post.header-img-list }}{% else %}{{ site.header-img-list }}{% endif %}">
            <div class="media-body">
                <h5 class="media-title mt-0 mb-1"><a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h5>
                <p>{{ post.excerpt }}</p>
                <small class="text-muted">Posted by {% if post.author %}{{ post.author }}{% else %}{{site.title}}{%
                    endif %} on {{ post.date | date: "%B %-d, %Y" }}</small>
            </div>
        </li>
    </ul> -->
        <div class="col-md-4 col-sm-12">
            <div class="card" style="background:transparent;padding-bottom:20px">
                <img class="card-img-top" src="/{% if post.header-img-list %}{{ 'img/' | append: post.path | replace_first: '_posts', 'posts'| append: '/' | append: post.header-img-list }}{% endif %}" alt="Card image cap">
                <div class="card-body" style="padding:20px 5px;">
                    <h5 class="card-title" style="margin-bottom: 0px;"><a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h5>
                    <small class="text-muted">Posted on {{ post.date | date: "%B %-d, %Y" }}</small>
                    <p class="card-text" style="font-size:14px;">{{ post.excerpt }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>