<!-- Navigation -->
<nav class="navbar-container">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
            <a class="navbar-brand" href="{{ site.baseurl }}/"><strong>Mark Roxberry</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% for page in site.pages %}{% if page.title %}{% if page.navigation %}
                    {% if page.url != '/404.html' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}{% endif %}
                    {% endif %}{% endfor %}
                </ul>
                <span class="navbar-text">
                    {{ site.description }}
                </span>
            </div>
        </nav>  
    </div>
    <div class="disclaimer">
            <p>Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s
                view in any way.</p>
    </div>
</nav>
