<div class="post-list">
    <div class="site-welcome">
        <p class="section-heading">Welcome</p>
        I am a technologist and someone who seeks out new ideas and paradigms. On my blog, you will find my day to day notes, ideas, projects and stuff that may be useful.
    </div>
    <div class="card-list">
        <p class="section-heading">Posts</p>
        {% for post in paginator.posts %}
        {% if post.featured %}
        <!-- <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img class="img-fluid" src="/{% if post.header-img-list %}{{ post.header-img-list }}{% else %}{{ site.header-img-list }}{% endif %}">
                </div>
                <div class="col">
                    <div class="card-block">
                        <h4 class="card-title"><a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h4>
                        <p class="card-subtitle">{{ post.excerpt}}</p>
                        <p class="card-text"><small class="text-muted">Posted by {% if post.author %}{{ post.author }}{% else %}{{site.title}}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</small></p>
                    </div>
                </div>
            </div>
        </div> -->
        <ul class="list-unstyled">
            <li class="media pb-md-5">
                <img class="media-image img-fluid" src="/{% if post.header-img-list %}{{ post.header-img-list }}{% else %}{{ site.header-img-list }}{% endif %}">
                <div class="media-body">
                    <h5 class="media-title mt-0 mb-1"><a href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a></h5>
                    <p>{{ post.excerpt }}</p>
                    <small class="text-muted">Posted by {% if post.author %}{{ post.author }}{% else %}{{site.title}}{%
                        endif %} on {{ post.date | date: "%B %-d, %Y" }}</small>
                </div>
            </li>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    <!-- Pager -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager list-inline">
        {% if paginator.previous_page %}
        <li class="previous list-inline-item float-left">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
                Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next list-inline-item float-right">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older
                Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>